{% form_theme form 'TNQSoftAdminBundle:Form:form_layout.html.twig' %}

{{ form_start(form) }}

<p class="text-right">
    {{ form_row(form.saveAndAdd) }}
    {{ form_row(form.save) }}
    <a href="{{ path('admin_sale_list') }}" class="btn btn-default">
        <i class="fa fa-reply"></i>
        Quay lại
    </a>
</p>

{% include 'TNQSoftAdminBundle:Common:flash_message.html.twig' %}

{{ form_errors(form) }}

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#basic" aria-controls="basic" role="tab" data-toggle="tab">Thông tin cơ bản</a>
    </li>
    <li role="presentation">
        <a href="#product" aria-controls="photo" role="tab" data-toggle="tab">Sản phẩm</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content product-tab">
    <div role="tabpanel" class="tab-pane" id="basic">
        {{ form_row(form.title) }}
        {{ form_row(form.percentage) }}
        {{ form_row(form.beginDate) }}
        {{ form_row(form.endDate) }}
        {{ form_row(form.description) }}

        {{ form_row(form.isActive) }}

        {% include 'TNQSoftAdminBundle:Common:Form/create_update.html.twig'
        with {
        'entity': entity
        }
        %}
    </div><!-- /#basic -->

    <div role="tabpanel" class="tab-pane active" id="product">
        {{ form_row(form.productsId) }}
        <div class="product-ajax-search-box">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control txt-search" placeholder="Tìm sản phẩm...">
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-search" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <table class="table table-hover table-bordered table-striped table-products">
                        <caption>Sản phẩm tìm.</caption>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ảnh</th>
                                <th>Tên SP</th>
                                <th>Mã SP</th>
                                <th>Giá</th>
                                <th width="%" nowrap>Thêm</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr class="product-added">
                                <th scope=row>1</th>
                                <td><img src="{{ asset('bundles/tnqsoftcommon/img/no-picture.png')|imagine_filter('thumb_60x45') }}" class="m-b-0"/></td>
                                <td>Tên sản phẩm</td>
                                <td>Hãng 1</td>
                                <td>Danh mục 1</td>
                                <td><span class="text-danger">1000000</span></td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-primary btn-add"><i class="fa fa-plus"></i></button>
                                    <i class="fa fa-check-circle-o fa-2x text-success"></i>
                                </td>
                            </tr>
                            <tr>
                                <th scope=row>1</th>
                                <td><img src="{{ asset('bundles/tnqsoftcommon/img/no-picture.png')|imagine_filter('thumb_60x45') }}" class="m-b-0"/></td>
                                <td>Tên sản phẩm</td>
                                <td>Hãng 1</td>
                                <td>Danh mục 1</td>
                                <td><span class="text-danger">1000000</span></td>
                                <td class="text-center"><button type="button" class="btn btn-primary btn-add"><i class="fa fa-plus"></i></button></td>
                            </tr>
                            <tr>
                                <th scope=row>1</th>
                                <td><img src="{{ asset('bundles/tnqsoftcommon/img/no-picture.png')|imagine_filter('thumb_60x45') }}" class="m-b-0"/></td>
                                <td>Tên sản phẩm</td>
                                <td>Hãng 1</td>
                                <td>Danh mục 1</td>
                                <td><span class="text-danger">1000000</span></td>
                                <td class="text-center"><button type="button" class="btn btn-primary btn-add"><i class="fa fa-plus"></i></button></td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <table class="table table-hover table-bordered table-striped  table-sales">
                        <caption>Sản phẩm khuyến mãi.</caption>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ảnh</th>
                                <th>Tên SP</th>
                                <th>Mã SP</th>
                                <th>Giá</th>
                                <th width="%" nowrap>Thêm</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr>
                                <th scope=row>1</th>
                                <td><img src="{{ asset('bundles/tnqsoftcommon/img/no-picture.png')|imagine_filter('thumb_60x45') }}" class="m-b-0"/></td>
                                <td>Tên sản phẩm</td>
                                <td>Hãng 1</td>
                                <td>Danh mục 1</td>
                                <td><span class="text-danger">1000000</span></td>
                                <td class="text-center"><button type="button" class="btn btn-danger btn-delete"><i class="fa fa-trash-o"></i></button></td>
                            </tr>
                            <tr>
                                <th scope=row>1</th>
                                <td><img src="{{ asset('bundles/tnqsoftcommon/img/no-picture.png')|imagine_filter('thumb_60x45') }}" class="m-b-0"/></td>
                                <td>Tên sản phẩm</td>
                                <td>Hãng 1</td>
                                <td>Danh mục 1</td>
                                <td><span class="text-danger">1000000</span></td>
                                <td class="text-center"><button type="button" class="btn btn-danger btn-delete"><i class="fa fa-trash-o"></i></button></td>
                            </tr>
                            <tr>
                                <th scope=row>1</th>
                                <td><img src="{{ asset('bundles/tnqsoftcommon/img/no-picture.png')|imagine_filter('thumb_60x45') }}" class="m-b-0"/></td>
                                <td>Tên sản phẩm</td>
                                <td>Hãng 1</td>
                                <td>Danh mục 1</td>
                                <td><span class="text-danger">1000000</span></td>
                                <td class="text-center"><button type="button" class="btn btn-danger btn-delete"><i class="fa fa-trash-o"></i></button></td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!-- /#photo -->
</div>

{{ form_end(form) }}
