{% extends 'TNQSoftAdminBundle:Layout:layout.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="page-header">
      <h1>Sản phẩm <small>danh sách</small></h1>
    </div>

    {% include 'TNQSoftAdminBundle:Common:flash_message.html.twig' %}

    <p class="text-right">
        <a href="{{ path('admin_product_create') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Thêm mới</a>
    </p>

    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr class="bg-tr-head">
                    <th width="1%" nowrap="" class="text-center"><i class="fa fa-lock"></i></th>
                    <th width="1%" nowrap="">#</th>
                    <th width="1%" nowrap="">Ảnh SP</th>
                    <th>Sản phẩm</th>
                    <th>Danh mục</th>
                    <th width="1%" nowrap="">Hành động</th>
                </tr>
            </thead>
            <tbody>
                {% for record in paginator %}
                <tr>
                    <td nowrap="">
                        {% include 'TNQSoftAdminBundle:Common:Button/active.html.twig'
                        with {
                        'actionName': 'admin_product_active',
                        'record': record
                        }
                        %}
                    </td>
                    <td nowrap="">{{ record.id }}</td>
                    <td nowrap="">
                        {% if record.webPath is not null %}
                            <img src="{{ asset(record.webPath)|imagine_filter('thumb_60x45') }}" class="thumbnail m-b-0"/>
                        {% else %}
                            <img src="{{ asset('bundles/tnqsoftcommon/img/no-picture.png')|imagine_filter('thumb_60x45') }}" class="thumbnail m-b-0"/>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('admin_product_edit', {'id': record.id }) }}">
                        {{ record.title }}
                        </a>
                    </td>
                    <td>{{ record.category.title }}</td>
                    <td nowrap="">
                        {% include 'TNQSoftAdminBundle:Common:Button/edit-delete.html.twig'
                        with {
                        'actionEdit': 'admin_product_edit',
                        'actionDelete': 'admin_product_delete',
                        'record': record
                        }
                        %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div><!-- /.table-responsive -->

    {{ paginator.renderLinks()|raw }}
</div> <!-- /container -->
{% endblock %}
