<div class="modal inmodal" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'Bỏ qua'|trans }}</span></button>
                <h4 class="modal-title">{{ 'Xác nhận xóa'|trans }}</h4>
            </div>
            <div class="modal-body">
                <p class="text-center text-danger"><strong>{{ 'Bạn có muốn thực sự xóa bản ghi ?'|trans }}</strong></p>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <button type="button" class="btn btn-white" data-dismiss="modal">{{ 'Bỏ qua'|trans }}</button>
                    </div>
                    <div class="col-sm-6 text-center">
                        <button type="button" class="btn btn-primary btn-confirm-delete">{{ 'Đồng ý'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
