{% form_theme form 'TNQSoftAdminBundle:Form:form_layout.html.twig' %}

{{ form_start(form) }}

<p class="text-right">
    <button type="button" class="btn btn-info btnGenerateSlug" data-src="page_title" data-des="page_slug">
        <i class="fa fa-code"></i>
        Tạo Slug
    </button>
    {{ form_row(form.saveAndAdd) }}
    {{ form_row(form.save) }}
    <a href="{{ path('admin_page_list') }}" class="btn btn-default">
        <i class="fa fa-reply"></i>
        Quay lại
    </a>
</p>

<div class="row">
    <div class="col-sm-2">&nbsp;</div>
    <div class="col-sm-10">
        {% include 'TNQSoftAdminBundle:Common:flash_message.html.twig' %}
    </div>
</div>

{{ form_widget(form) }}

{% include 'TNQSoftAdminBundle:Common:Form/create_update.html.twig'
with {
'entity': entity
}
%}

{{ form_end(form) }}
