{% if is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
{% set current_router = app.request.attributes.get('_route') %}

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('admin_dashboard') }}">Quản trị hệ thống</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="{% if current_router == 'admin_dashboard' %}active{% endif %}">
                    <a href="{{ path('admin_dashboard') }}">Trang chủ</a>
                </li>
                <li class="dropdown {% if current_router in ['admin_banner_list', 'admin_menu_list', 'admin_user_group_list', 'admin_user_list'] %}active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hệ thống
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% if componentEnabled.banner is defined and componentEnabled.banner == true %}
                        <li>
                            <a href="{{ path('admin_banner_list') }}">Banner</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        {% endif %}

                        {% if componentEnabled.menu is defined and componentEnabled.menu == true %}
						<li>
                            <a href="{{ path('admin_menu_list') }}">Quản lý Menu</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        {% endif %}

                        <li class="dropdown-submenu {% if current_router in ['admin_user_group_list', 'admin_user_list'] %}active{% endif %}">
                            <a href="#">
                                Quản lý người dùng
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('admin_user_group_list') }}">Nhóm người dùng</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_user_list') }}">Người dùng</a>
                                </li>
                            </ul>
                        </li>

                        {#<li>#}
                            {#<a href="{{ path('admin_page_list') }}">Cấu hình</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('admin_page_list') }}">Sao lưu dữ liệu</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('admin_page_list') }}">Làm mới cache</a>#}
                        {#</li>#}
                    </ul>
                </li>
                <li class="dropdown {% if current_router in ['admin_page_list', 'admin_news_category_list', 'admin_news_list'] %}active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nội dung
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% if componentEnabled.page is defined and componentEnabled.page == true %}
                        <li>
                            <a href="{{ path('admin_page_list') }}">Trang tĩnh</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        {% endif %}

                        {% if componentEnabled.news_category is defined and componentEnabled.news_category == true %}
                        <li>
                            <a href="{{ path('admin_news_category_list') }}">Danh mục tin</a>
                        </li>
                        {% endif %}

                        {% if componentEnabled.news is defined and componentEnabled.news == true %}
                        <li>
                            <a href="{{ path('admin_news_list') }}">Tin tức</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        {% endif %}

                        {% if componentEnabled.photo is defined and componentEnabled.photo == true %}
                        <li>
                            <a href="{{ path('admin_photo_category_list') }}">Thư viện ảnh</a>
                        </li>
                        {% endif %}
                        {#<li>
                            <a href="{{ path('admin_photo_list') }}">Thư viện ảnh</a>
                        </li>#}
                    </ul>
                </li>
                <li class="dropdown {% if current_router in ['admin_partner_list', 'admin_product_category_list', 'admin_product_list', 'admin_testimonial_list', 'admin_sale_list'] %}active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cửa hàng
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% if componentEnabled.partner is defined and componentEnabled.partner == true %}
                        <li>
                            <a href="{{ path('admin_partner_list') }}">Đối tác</a>
                        </li>
                        {% endif %}

                        {% if componentEnabled.product_category is defined and componentEnabled.product_category == true %}
                        <li>
                            <a href="{{ path('admin_product_category_list') }}">Danh mục hàng</a>
                        </li>
                        {% endif %}

                        {% if componentEnabled.product is defined and componentEnabled.product == true %}
                        <li>
                            <a href="{{ path('admin_product_list') }}">Sản phẩm</a>
                        </li>
                        {% endif %}

                        {% if componentEnabled.sale is defined and componentEnabled.sale == true %}
                        <li>
                            <a href="{{ path('admin_sale_list') }}">Khuyến mại</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        {% endif %}

                        {% if componentEnabled.testimonial is defined and componentEnabled.testimonial == true %}
                        <li>
                            <a href="{{ path('admin_testimonial_list') }}">Ý kiến khách hàng</a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown {% if current_router in ['admin_change_password'] %}active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i>
                        Xin chào {{ app.user.username }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {#<li>#}
                            {#<a href="{{ path('logout') }}">Thông tin người dùng</a>#}
                        {#</li>#}
                        <li>
                            <a href="{{ path('admin_change_password') }}">Đổi mật khẩu</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="{{ path('logout') }}"><i class="fa fa-sign-out"></i> Thoát</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
{% endif %}
