{% extends 'TNQSoftAdminBundle:Layout:layout.html.twig' %}
{##############################################################################}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{{ path('admin_dashboard') }}"><i class="fa fa-home"></i> Quản trị</a></li>
    <li class="active">Menu</li>
</ol>
{% endblock %}
{##############################################################################}
{% block body %}
<div class="container-fluid">
    <div class="page-header">
      <h1>Menu <small>danh sách</small></h1>
    </div>

    {% include 'TNQSoftAdminBundle:Common:flash_message.html.twig' %}

    <p class="text-right">
        <a href="{{ path('admin_menu_sort') }}" class="btn btn-info"><i class="fa fa-tasks"></i> Sắp xếp Menu</a>
        <a href="{{ path('admin_menu_create') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Thêm mới</a>
    </p>

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="bg-tr-head">
                    <th width="1%" nowrap="" class="text-center"><i class="fa fa-lock"></i></th>
                    <th width="1%" nowrap="">#</th>
                    <th>Tiêu đề</th>
                    <th>Routing</th>
                    <th>Tham số</th>
                    <th width="1%" nowrap="">Hành động</th>
                </tr>
            </thead>
            <tbody>
                {% for record in list %}
                <tr {% if record.lvl == 0 %}class="bg-info"{% endif %}>
                    <td nowrap="">
                        {% include 'TNQSoftAdminBundle:Common:Button/active.html.twig'
                        with {
                        'actionName': 'admin_menu_active',
                        'record': record
                        }
                        %}
                    </td>
                    <td>{{ record.id }}</td>
                    <td>
                        <a href="{{ path('admin_menu_edit', {'id': record.id }) }}">
                            {{ record.title|showDepth(record.lvl*2, "-") }}
                        </a>
                    </td>
                    <td>{{ record.routerName }}</td>
                    <td>{{ record.parameters }}</td>
                    <td nowrap="">
                        {% include 'TNQSoftAdminBundle:Common:Button/edit-delete.html.twig'
                        with {
                        'actionEdit': 'admin_menu_edit',
                        'actionDelete': 'admin_menu_delete',
                        'record': record
                        }
                        %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div><!-- /.table-responsive -->

</div> <!-- /container -->
{% endblock %}
