{% form_theme form 'TNQSoftAdminBundle:Form:form_layout.html.twig' %}

{{ form_start(form) }}
<p class="text-right">
    <button type="button" class="btn btn-info btnGenerateSlug" data-src="photo_category_title" data-des="photo_category_slug">
        <i class="fa fa-code"></i>
        Tạo Slug
    </button>
    {{ form_row(form.saveAndAdd) }}
    {{ form_row(form.save) }}
    <a href="{{ path('admin_photo_category_list') }}" class="btn btn-default">
        <i class="fa fa-reply"></i>
        Quay lại
    </a>
</p>

{% include 'TNQSoftAdminBundle:Common:flash_message.html.twig' %}

{{ form_errors(form) }}

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#basic" aria-controls="basic" role="tab" data-toggle="tab">Thông tin cơ bản</a>
    </li>
    <li role="presentation">
        <a href="#photo" aria-controls="photo" role="tab" data-toggle="tab">Ảnh</a>
    </li>
</ul>
<!-- Tab panes -->
<div class="tab-content product-tab">
    <div role="tabpanel" class="tab-pane active" id="basic">
        {{ form_row(form.title) }}
        {{ form_row(form.slug) }}
        {{ form_row(form.summary) }}
        {{ form_row(form.isActive) }}
        {{ form_row(form.metaKeywords) }}
        {{ form_row(form.metaDescription) }}

        {% include 'TNQSoftAdminBundle:Common:Form/create_update.html.twig'
        with {
        'entity': entity
        }
        %}
    </div><!-- /#basic -->

    <div role="tabpanel" class="tab-pane" id="photo">
        <button type="button" id="btnAddPhoto" class="btn btn-primary">
            <i class="fa fa-photo"></i>
            Thêm ảnh
        </button>
        <div id="listPhotos" data-index="{{ form.listPhoto.vars.value|length }}" data-prototype="{{ form_widget(form.listPhoto.vars.prototype)|e }}">
            <div id="category_listPhoto_content" class="row">
            {{ form_widget(form.listPhoto) }}
            </div>
        </div>
    </div><!-- /#photo -->
</div>

{{ form_end(form) }}
